.main-cards-container {
    text-align: center;
    padding: 2rem;
    background:
        linear-gradient(rgba(24, 86, 0, 0.7), rgba(140, 189, 126, 0.7)),
        url("https://res.cloudinary.com/dtxdv136u/image/upload/v1733412580/kvoHqmc_nbvyac.webp");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding-top: 5rem;
    padding-bottom: 8rem;
    position: relative;
}

.main-cards-container #Capa_1 {
    width: 100vw;
    position: absolute;
    top: -2px;
    left: 0;
}

.main-cards-container h2 {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    color: #E4FF00;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.main-cards-container p {
    color: #fff;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.main-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
    color: #1F7B00;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: transform 0.3s;
}

.arrow:hover {
    transform: scale(1.1);
}

/* Versión móvil */
@media (max-width: 768px) {
    .slider-controls {
        flex-direction: column
    }
    .menu-cards {
        flex-direction: row;
    }
}