.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-image: url("/src/assets/jamrock.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.txt {
    text-align: left;
    padding: 2rem;
}

.txt h1 {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 3.5rem;
    width: 50vw;
    color: #E4FF00;
}

.txt p {
    font-family: "Raleway", sans-serif;
    text-align: left;
    font-size: 1.2rem;
    width: 50vw !important;
    margin: 1rem 0;
    color: #f0f0f0;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.btn-primary {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    background: #E4FF00;
    color: #012700;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
}


.btn-secondary {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
    color: #333;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
}


.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
}

.hero-img {
    width: 100%;
}

@media (max-width: 900px) {
    .hero {
        flex-direction: column-reverse;
        height: 90vh;
    }
    
    .txt {
        text-align: left;
        padding: 2rem;
    }

    .txt h1 {
        font-size: 3rem;
        line-height: 2.5rem;
        width: 100%;
    }

    .txt p {
        text-align: left;
        font-size: 1.2rem;
        width: 100%;
        margin: 1rem 0;
        color: #f0f0f0;
    }

    .buttons {
        flex-direction: column;
    }

    .img-container {
        width: 90vw;
    }
}